@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
</head>
<body>
    <div>
        <form method="post" action="/Account/Login">
            <input type="submit" value="提交" />
        </form>
    </div>
</body>
</html>
