<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="PassportRootUrl" value="https://passport.kecq.com"/>
    <add key="appKey" value="xxxxxx"/>
    <add key="secretKey" value="xxxxxx"/>
    <!--主题-->
    <add key="Version" value="v2"/>
    <!--上传URL-->
    <add key="UploadUrl" value="http://upload.kecq.com/FileUpload.axd"/>

    <add key="isValidateSign" value="true"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" maxRequestLength="2097151000" executionTimeout="30000000" requestValidationType="FYJ.Web.CustomRequestValidator,FYJ.Web"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="PhotoUpload.axd" verb="*" type="Blogs.UI.Manage.PhotoUpload,Blogs.UI.Manage"/>
    </httpHandlers>
    <httpModules>
      <!--<add name="AuthenticationModule" type="Blogs.UI.Manage.AuthenticationModule, Blogs.UI.Manage"/>-->
      <add name="ExceptionModule" type="FYJ.ExceptionModule, FYJ" />
    </httpModules>
    <authentication mode="Forms">
      <forms loginUrl="/Login" timeout="2880"/>
    </authentication>
    <customErrors mode="Off">
      <!--<error statusCode="403" redirect="/error.htm" />
            <error statusCode="404" redirect="/404.htm" />
          <error statusCode="401" redirect="/error.htm" />-->
    </customErrors>
    <!--<identity impersonate="true"/>-->
  </system.web>
  <!--<location path=".">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ValidateCode">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<remove name="FormsAuthenticationModule" />-->
      <!--<add name="AuthenticationModule" type="Blogs.UI.Manage.AuthenticationModule, Blogs.UI.Manage"/>-->
      <add name="ExceptionModule" type="FYJ.Web.ExceptionModule, FYJ.Web" />
    </modules>
    <handlers>
    
      <add name="PhotoUpload" path="PhotoUpload.axd" verb="*" type="Blogs.UI.Manage.PhotoUpload,Blogs.UI.Manage"/>
      <!--<remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />-->
    </handlers>
  </system.webServer>

</configuration>