@model IEnumerable<Blogs.Entity.blog_tb_slider>
@{
    ViewBag.Title = "首页大图管理";
    Layout = "~/Views/V1/Shared/_Index_Layout.cshtml";
}

<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>

<div>
    <input type="checkbox" id="isShowPic" />显示图片
</div>

<table id="List"></table>
<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '/Slider/GetList',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'ADD_DATE',
            sortOrder: 'desc',
            idField: 'ID',
            pageSize: 15,
            pageList: [15, 20, 30, 40, 50],
            pagination: true,
            striped: true, //奇偶行是否区分
            singleSelect: false,//单选模式
            rownumbers: false,//行号
            columns: [[
                { field: 'ID', title: '选择', width: 80, checkbox: true },
                { field: 'Url', title: 'Url', width: 120, sortable: true },
                { field: 'Pic', title: '图片', width: 120, sortable: true, formatter: formatImage },
                { field: 'OrderWeight', title: '排序', width: 120, sortable: true },
                { field: 'ADD_DATE', title: '创建时间', width: 60, align: 'center', sortable: true },
                { field: 'UPDATE_DATE', title: '修改时间', width: 60, align: 'center', sortable: true }
            ]],
            toolbar: [{
                id: 'btnadd',
                text: '添加',
                iconCls: 'icon-add',
                handler: function () {
                    //实现弹出添加信息的层
                    ShowCreateDialog();
                }
            }, '-', {
                id: 'btncut',
                text: '修改',
                iconCls: 'icon-cut',
                handler: function () {

                    //实现弹出修改信息的层
                    ShowUpdateDialog();
                }
            }, '-', {
                id: 'btnsave',
                text: '删除',
                iconCls: 'icon-remove',
                handler: function () {
                    //删除信息
                    DeleteInfoByClick();
                }
            }],
            onLoadError: function () {
                alert("加载错误");
            }
        });
    });
</script>
<script type="text/javascript">

    //ifram 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }
    //iframe 返回并刷新
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }
    //输出信息
    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }

    function ShowCreateDialog() {
        $("#modalwindow").html("<iframe width='100%' height='98%' scrolling='no' frameborder='0'' src='/Slider/Edit/0'></iframe>");
        $("#modalwindow").window({ title: '新增', width: 700, height: 430, iconCls: 'icon-add' }).window('open');
    }


    var isShowPic = false;
    function formatImage(value) {
        if (isShowPic) {
            if (value == null || value == "" || value == "&nbsp;") {
                return "<img src='http://static.kecq.com/images/common/nopic.jpg' style='width:90px;height:50px' />";
            }
            else {
                return "<img src='" + value + "' style='width:90px;height:50px' />";
            }
        }
        else {
            return value;
        }
    }

    $("#isShowPic").change(function () {
        isShowPic = $(this).prop("checked");
        $("#List").datagrid('reload');
    });

    function ShowUpdateDialog() {
        var row = $('#List').datagrid('getSelections');
        if (row.length == 0) {
            alert("请选择要删除的记录");
            return false;
        }
        else if (row.length > 1) {
            alert("不能同时编辑多行");
            return false;
        }
        else {
            $("#modalwindow").html("<iframe width='100%' height='99%'  frameborder='0' src='/Slider/Edit/" + row[0].ID + "'></iframe>");
            $("#modalwindow").window({ title: '编辑', width: 700, height: 430, iconCls: 'icon-edit' }).window('open');
        }
    }

    function DeleteInfoByClick() {
        var row = $('#List').datagrid('getSelections');
        if (row.length == 0) {
            alert("请选择要删除的记录");
            return false;
        }

        var ids = ""; //不能赋值为null
        for (var i = 0; i < row.length; i++) {
            ids += row[i].ID + ",";
        }

        if (confirm("确定要删除选定的记录吗？")) {
            $.ajax({
                type: "POST",
                url: "/Slider/Delete",
                data: "ids=" + ids,
                dataType: "text",
                beforeSend: function () {
                    //showOverlay();
                },
                success: function (msg) {
                    //hideOverlay();
                    data = eval("(" + msg + ")"); //转换为json对象
                    if (data.code == 1) {
                        //重新加载当前页
                        $("#List").datagrid('reload');
                        //清除所有选定
                        $('#List').datagrid('clearSelections');
                        $.messageBox5s('提示', "删除成功");
                    }
                    else {
                        $.messageBox5s('提示', data.message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //hideOverlay();
                    alert("错误");
                    document.write(XMLHttpRequest.responseText);
                }
            });
        }
    }
</script>
